<%- include('partials/header') %>

<p class="alert alert-danger">L'accès à cette page nécessite d'être connecté. <a href="/login">C'est par ici que ça se passe</a></p>

<%- include('partials/footer') %>