<%- include('partials/header') %>

<p class="alert alert-danger">L'accès à cette page nécessite d'être un administrateur. Pourquoi ne pas retourner sur <a href="/">l'accueil</a>, plutôt ?</p>

<%- include('partials/footer') %>