<%- include('partials/header') %>

<p class="alert alert-danger">Plutôt que d'explorer notre site via la barre d'adresse, vous voudriez pas cliquer sur les liens, plutôt ?</p>

<%- include('partials/footer') %>